/* body{
    background-color: rgb(233, 215, 207);
    text-align: center;
    color: rgb(83, 73, 73);
    font-family: 'Fira Sans', sans-serif;
}

a{
    text-decoration: none;
    color: red;   
}

a:hover{
    text-decoration: underline;
    font-size: larger;
    font-weight: 600;
} */